<!DOCTYPE html>
<html>
<head>
<style>
table {
	border-collapse: collapse;
}
</style>
</head>
<body bgcolor="#ff704d">
	<form action="useraction" method="get">
		<div align="center">
			<table border="3">
				<tr>
					<h1>Car Details</h1>
					<h1>Choose a car to buy</h1>
				</tr>
				<tr>
					<th>selecct</th>
					<th>Brand</th>
					<th>Model</th>
					<th>Year</th>
					<th>No. of Kms</th>
					<th>Price</th>
					<th>Fuel</th>
				</tr>

				<tr th:each="car : ${carlist}">
					<td><input type="radio" name="boorCar" value=dd.value> </td>
					<td><span id="dd" accesskey="hhh" th:text="${car.brand}"> </span></td>
					<td><span th:text="${car.model}"> </span></td>
					<td><span th:text="${car.year}"> </span></td>
					<td><span th:text="${car.noOfKms}"> </span></td>
					<td><span th:text="${car.price}"> </span></td>
					<td><span th:text="${car.fuel}"> </span></td>
					
				</tr>
				<tr align="center">
					<td td colspan="6">
					    <input type="submit" name="boorCar" value="Book Car"  onclick="get()"/> 
						<input type="submit" name="back" value="Back" />
						<input type="submit" name="home" value="Home" /></td>
				</tr>
			</table>
			<a href="/" th:href="@{/}" class="btn btn-large btn-success"><span
				class="highlight">Home</span> </a>
		</div>
	</form>
</body>
<h3>DILIP MEHTA</h4>
</html>
