<!DOCTYPE html>
<html>
<head>
<style>
table {
	border-collapse: collapse;
}
</style>
</head>
<div align="center">
	<body bgcolor="#ff704d">
		<div>Choose Brand to find the available models</div>
		<table border="1">
			<tr>
				<td>Brand:</td>
				<td><select name="brand" id="brandid">
						<option value="Hyundai">Hyundai</option>
						<option value="Tata">Tata</option>
						<option value="Maruthi Suzuki">Maruthi Suzuki</option>
						<option value="Honda">Honda</option>
				</select></td>
			<tr>
			<tr>
				<td><input type="button" name="Find Models" value="Find Models"></td>
				<td><input type="button" name="Find Models" value="Back"></td>
			<tr>
		</table>
	</body>
	<a href="/" th:href="@{/}" class="btn btn-large btn-success"><spanclass="highlight">Home</span>
	<h3>DILIP MEHTA</h4>
</html>
