<html xmlns:th="https://thymeleaf.org">

<head>
<title>Index Page</title>
<style type="text/css">
</style>
</head>

<body bgcolor="red">
	<div align="center">
	<div>BestChoice Cars</div>
		<table>
			<tbody>
				<tr>
					<td><span th:text="${message}" /></td>
				</tr>
				<tr>
					<td>Tank you!!! Have a Good Day !! <h3>DILIP MEHTA</h4></td>
				</tr>
			</tbody>

		</table>
	</div>
</body>
<br>
<br>
<br>
<a href="/" th:href="@{/}" class="btn btn-large btn-success"><span
	class="highlight1">Home</span></a>
</html>