<html xmlns:th="https://thymeleaf.org">
<html>
<head>
<style>
#heading {
	font-size: 30px;
	font-style: oblique;
	width: 1020px;
	height: 50px;
}

#second {
	width: 500px;
	height: 30px;
	font-size: 20px;
}

#user2 {
	width: 250px;
	height: 30px;
	float: left;
}

#user3 {
	width: 200px;
	height: 30px;
	float: left;
}
</style>
</head>
<body bgcolor="#ff704d">
	<div>
		<div id="heading" align="left">BestChoice Cars</div>
		<div id="second">
			<div id="user3">
				<span th:text="${message}"> </span>
			</div>

		</div>
	</div>
	<h3>DILIP MEHTA</h4>
</body>
</html>